body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
.form-box {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
}
.progress-container {
  width: 300px;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  margin: 20px auto;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: green;
  border-radius: 10px;
}
